---
import DateRange from "./DateRange.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  education: CollectionEntry<"education">[];
}

const { education } = Astro.props;
---

<section id="educations" class="chronological">
  <h2>Studies</h2>
  <ul>
    {
      education.map(
        ({ data: { area, institution, url, studyType, startDate, endDate } }) => (
          <li>
            <article>
              <h3>
                {area} at <a href={url}>{institution}</a>
              </h3>
              <DateRange startDate={startDate} endDate={endDate}/>
              <p>{studyType}</p>
            </article>
          </li>
        )
      )
    }
  </ul>
</section>
