---
import FormattedDate from "../FormattedDate.astro";
import IconLink from "../IconLink.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  works: CollectionEntry<"work">[];
}

const { works } = Astro.props;
---

<section id="works" class="chronological">
  <h2>Work experience</h2>
  <ul>
    {
      works.map(
        ({
          data: {
            name,
            position,
            startDate,
            endDate,
            website,
            linkedIn,
            summary,
          },
        }) => (
          <li>
            <article>
              <header>
                <h3>{name}</h3>
                <p>
                  <FormattedDate date={startDate} /> -
                  {endDate ? <FormattedDate date={endDate} /> : "Currently"}
                </p>
              </header>
              <main>
                <h4>{position}</h4>
                {summary ? <p>{summary}</p> : ""}
              </main>
              {website || linkedIn ? (
                <footer>
                  {website ? (
                    <IconLink href={website} iconName="Website" />
                  ) : (
                    ""
                  )}
                  {linkedIn ? (
                    <IconLink href={linkedIn} iconName="LinkedIn" />
                  ) : (
                    ""
                  )}
                </footer>
              ) : (
                ""
              )}
            </article>
          </li>
        )
      )
    }
  </ul>
</section>

<style>
  footer a {
    font-size: smaller;
  }
</style>
