---
import { getEntries, getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import CustomPicture from "@components/image-optimization/CustomPicture.astro";
import Education from "@components/resume-sections/Education.astro";
import Location from "@components/icons/Location.astro";
import Projects from "@components/resume-sections/Projects.astro";
import tradeMark from "@images/pablocru-ico-circle.png";
import Works from "@components/resume-sections/Works.astro";

const {
  data: { location, works, projects, education },
} = await getEntry("resume", "pablocru");

const worksCollection = await getEntries(works);
const projectsCollection = await getEntries(projects);
const educationCollection = await getEntries(education);
---

<BaseLayout>
  <header id="hero">
    <CustomPicture
      src={tradeMark}
      widths={[250, 300]}
      alt="Pablo Cru's personal brand trademark"
      loading="eager"
    />
    <section>
      <header>
        <h1>Pablo Cru Delhom</h1>
        <h2>Full Stack Web Developer</h2>
      </header>
      <aside id="location">
        <p><Location /> {location.city}, {location.country}</p>
      </aside>
      <main>
        <p>
          I like to create <strong>solid website applications</strong> focused on
          reliability and scalability following good practices. Non stop improving
          my programming skills <cite>
            <a
              href="https://www.swyx.io/learn-in-public"
              title="SWYX's Learning Philosophy">learning in public</a
            ></cite
          > on my
          <a
            href="https://github.com/pablocru?tab=repositories"
            title="Take a look at my repositories">GitHub profile</a
          >.
        </p>
      </main>
    </section>
  </header>
  <main>
    <Works works={worksCollection} />
    <Projects projects={projectsCollection} />
    <Education education={educationCollection} />
  </main>
</BaseLayout>

<style>
  /* Remove space between headings */
  header#hero section header * {
    margin-block: 0.2em;
  }
  /* Reset h1 font size because is reduced inside section */
  header#hero section h1 {
    font-size: 2em;
  }
  /* Increase space between the header and it's sibling */
  header#hero {
    margin-bottom: 3em;
  }
  /* Reduce location size because is less important */
  header#hero section aside#location {
    font-size: smaller;
  }
  header#hero section aside#location svg {
    /* Align svg with the text top height */
    vertical-align: top;

    /* Leave some space between svg and it's sibling */
    margin-right: 0.3em;
  }
  /* Styles applied to smaller screens */
  @media screen and (max-width: 700px) {
    /*
      Set repeated and then override it because of Astro css scopes.
      As the picture tag is an Astro component, css styles are attached to this component.
      So I only be able to center the image this way. If you found a better approach,
      please open a issue on GitHub: https://github.com/pablocru/pablocru.github.io/issues
    */
    header#hero {
      text-align: center;
    }
    header#hero section {
      text-align: initial;
    }
  }
  @supports (display: flex) {
    /* Styles related to header applied on bigger screens */
    @media screen and (min-width: 700px) {
      /* Move hero image to the left */
      header#hero {
        display: flex;
        align-items: center;
        gap: 3em;
      }
    }
  }
</style>

<style is:global>
  /* Increase space between section inside main */
  main > section:not(:last-child) {
    margin-bottom: 5em;
  }
  main > section:last-child {
    margin-bottom: 3em;
  }

  .chronological ul {
    /* Add a vertical line aligned with the bullet points */
    padding-left: 1em;
    border-left: 1px solid;

    /* Bullet points starts at the same vertical line that other content */
    margin-left: 0.3em;
  }
  .chronological li::marker {
    /* Increase bullet point size */
    font-size: 1.5em;
  }
  .chronological h3 {
    /* Remove space between heading and date */
    margin-bottom: 0;
  }
  .chronological p {
    /* Same as before */
    margin-top: 0;

    /* Reduce date font size because is less important than other information */
    font-size: smaller;
  }
</style>
