---
import { getEntries, getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import svgCover from "@public/images/pabcrudel-ico-circle.svg";

const {
  data: { location, works, projects, education },
} = await getEntry("resume", "pabcrudel");

const worksCollection = await getEntries(works);
const projectsCollection = await getEntries(projects);
const educationCollection = await getEntries(education);
---

<BaseLayout>
  <header id="hero">
    <img
      src={svgCover.src}
      width="250"
      alt="Pablo Cru's personal brand trademark"
    />
    <section>
      <h1 id="pabcrudel">Pablo Cru Delhom</h1>
      <h2>Full Stack Web Developer</h2>
      <p>{location.city}, {location.country}</p>
    </section>
  </header>
  <main>
    <section id="about-me">
      <h2>About me</h2>
      <p>
        I like to create <strong>solid website applications</strong> focused on reliability
        and scalability following good practices. Non stop improving my programming
        skills <cite>
          <a
            href="https://www.swyx.io/learn-in-public"
            title="SWYX's Learning Philosophy">learning in public</a
          ></cite
        > on my
        <a
          href="https://github.com/pabcrudel"
          title="Take a look at my repositories">GitHub profile</a
        >.
      </p>
    </section>
    <section id="works" class="chronological">
      <h2>Works</h2>
      <ul>
        {
          worksCollection.map(
            ({ data: { url, name, position, startDate, endDate } }) => (
              <li>
                <article>
                  <h3>
                    <a href={url}>{name}</a>
                  </h3>
                  <p>
                    <FormattedDate date={startDate} />
                    -
                    <FormattedDate date={endDate} />
                  </p>
                  <h4>{position}</h4>
                </article>
              </li>
            )
          )
        }
      </ul>
    </section>
    <section id="projects" class="gallery">
      <h2>Projects</h2>
      <ul>
        {
          projectsCollection.map(
            ({ data: { url, name, description, highlights } }) => (
              <li>
                <article>
                  <header>
                    <h3>
                      <a href={url}>{name}</a>
                    </h3>
                  </header>
                  <main>
                    <p>{description}</p>
                  </main>
                  <footer>
                    <ul>
                      {highlights.map((tag) => (
                        <li>{tag}</li>
                      ))}
                    </ul>
                  </footer>
                </article>
              </li>
            )
          )
        }
      </ul>
    </section>
    <section id="education" class="chronological">
      <h2>Studies</h2>
      <ul>
        {
          educationCollection.map(
            ({
              data: { area, institution, url, studyType, startDate, endDate },
            }) => (
              <li>
                <article>
                  <h3>
                    {area} at <a href={url}>{institution}</a>
                  </h3>
                  <p>
                    <FormattedDate date={startDate} />
                    -
                    <FormattedDate date={endDate} />
                  </p>
                  <h4>{studyType}</h4>
                </article>
              </li>
            )
          )
        }
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  /* Remove space between headings */
  header#hero section > * {
    margin-block: 0;
  }
  /* Reset h1 font size because is reduced inside section */
  header#hero section h1 {
    font-size: 2em;
  }
  /* Increase space between the header and it's sibling */
  header#hero {
    margin-bottom: 3em;
  }
  /* Styles related to header applied on smaller screens */
  @media screen and (max-width: 700px) {
    header#hero {
      /* Move hero image to the left */
      text-align: center;
    }
  }
  @supports (display: flex) {
    /* Styles related to header applied on bigger screens */
    @media screen and (min-width: 700px) {
      /* Move hero image to the left */
      header#hero {
        display: flex;
        gap: 3em;
      }
      /* Align content with the center of the image */
      header#hero section {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  /* Increase space between section inside main */
  main > section:not(:last-child) {
    margin-bottom: 3em;
  }

  .chronological ul {
    /* Add a vertical line aligned with the bullet points */
    padding-left: 1em;
    border-left: 1px solid;

    /* Bullet points starts at the same vertical line that other content */
    margin-left: 0.3em;
  }
  .chronological li::marker {
    /* Increase bullet point size */
    font-size: 1.5em;
  }
  .chronological h3 {
    /* Remove space between heading and date */
    margin-bottom: 0;
  }
  .chronological p {
    /* Same as before */
    margin-top: 0;

    /* Reduce date font size because is less important than other information */
    font-size: smaller;
  }

  .gallery ul {
    /* Remove any child list it's default styles */
    list-style: none;
    padding-left: 0;
  }
  .gallery article li {
    /* Reduce font size because are less important */
    font-size: small;

    /* Tags will look like pills */
    display: inline-block;
    padding: 0.1em 0.5em 0.2em;
    border: 1px solid;
    border-radius: 1em;
  }
  /* Leave space between projects */
  .gallery > ul li {
    margin-bottom: 1.5em;
  }
  @supports (display: flex) and (display: grid) {
    .gallery article ul {
      /* Display tags in horizontal way */
      display: flex;
      flex-wrap: wrap;
      gap: 0.5em;
    }

    /* Display projects in two columns */
    .gallery > ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
    }
    .gallery > ul article {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
    .gallery > ul article * {
      margin: 0;
    }
    .gallery > ul article main {
      flex-grow: 1;
    }
  }
</style>
