---
import { getEntries, getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import svgCover from "@public/images/pabcrudel-ico-circle.svg";

const { data } = await getEntry("resume", "pabcrudel");
const works = await getEntries(data.works);
---

<BaseLayout>
  <header id="hero">
    <img
      src={svgCover.src}
      width="250"
      alt="Pablo Cru's personal brand trademark"
    />
    <section>
      <h1 id="pabcrudel">Pablo Cru Delhom</h1>
      <h2>Full Stack Web Developer</h2>
      <p>{data.location.city}, {data.location.country}</p>
    </section>
  </header>
  <section id="about-me">
    <h2>About me</h2>
    <p>
      I like to create <strong>solid website applications</strong> focused on reliability
      and scalability following good practices. Non stop improving my programming
      skills <cite>
        <a
          href="https://www.swyx.io/learn-in-public"
          title="SWYX's Learning Philosophy">learning in public</a
        ></cite
      > on my
      <a
        href="https://github.com/pabcrudel"
        title="Take a look at my repositories">GitHub profile</a
      >.
    </p>
  </section>
  <section id="works" class="chronological">
    <h2>Works</h2>
    <ul>
      {
        works.map(({ data: { url, name, position, startDate, endDate } }) => (
          <li>
            <article>
              <h3>
                <a href={url}>{name}</a>
              </h3>
              <p>
                <FormattedDate date={startDate} />
                -
                <FormattedDate date={endDate} />
              </p>
              <h4>{position}</h4>
            </article>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>

<style>
  @supports (display: flex) and (position: absolute) {
    /* Remove space between headings */
    header section > * {
      margin-block: 0;
    }

    /* Reset h1 font sice because is reduced inside section */
    header section h1 {
      font-size: 2em;
    }

    /* Increase space between the header and it's sibling */
    header {
      margin-bottom: 3em;
    }

    /* Styles related to header applied on bigger screens */
    @media screen and (min-width: 700px) {
      /* Move hero image to the left */
      header {
        display: flex;
        gap: 3em;
      }
      /* Align content with the center of the image */
      header section {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    /* Styles related to header applied on smaller screens */
    @media screen and (max-width: 700px) {
      header {
        /* Move hero image to the left */
        text-align: center;
      }
    }
  }

  .chronological ul {
    /* Add a vertical line aligned with the bullet points */
    padding-left: 1em;
    border-left: 1px solid;

    /* Bullet points starts at the same vertical line that other content */
    margin-left: 0.3em;
  }

  .chronological li::marker {
    /* Increase bullet point size */
    font-size: 1.5em;
  }

  .chronological h3 {
    /* Remove space between heading and date */
    margin-bottom: 0;
  }

  .chronological p {
    /* Same as before */
    margin-top: 0;

    /* Reduce Date font size because is less important than other information */
    font-size: smaller;
  }
</style>
